:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #164611;
  text-decoration: inherit;
}
a:hover {
  color: #002915;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #032800;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
  padding: 0 40px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  width: 100%;
  padding: 10px 60px;
  font-size: 24px;
  margin-bottom: 24px;
  justify-content: left;
  gap: 40px;
}

.items {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.catalog {
  width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.button {
  margin-top: 10px;
  background-color: #b7dab6;
}

.file-list {
  margin: 10px 0;
}
.file-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.remove-btn {
  border: none;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 3px;
}

.photo_block {
  width: 95%;
  max-height: 95%;
  display: flex;
  justify-content: center;
  align-items: start;
  border: 4px solid rgb(8, 49, 3);
  border-radius: 30px;
  padding: 20px 0;
}

.photo_block_img {
  height: 400px;
  width: 70%;
  border-radius: 30px;
}

.photo_block_cart_img {
  height: 20px;
  width: 20px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.pagination {
  bottom: 0;
  position: fixed;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}